.general-container-app {
    min-width: 350px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(57, 142, 185);
    border-radius: 10px;
    box-shadow: 12px 15px 6px 3px rgba(0, 0, 0, 0.4);
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
   
}

.container-title h3 {
    font-size: 14px;
}

.container-date {
    width: 100%;
    height: 20px;
    padding: 0 30px;
    display: flex;
    gap: .5rem;
    align-items: center;
    
}

.container-date span {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
}

.container-date i {
    font-size: 30px;
    color: red;
}

.container-termometer-icon{
    width: 3%;
    padding: 0;
    display: flex;
    gap: .5rem;
    position: absolute;
    margin-left: -280px;
    margin-top: -160px;
}

.container-termometer-icon i {
    font-size: 35px;
    color: red;
}

.container-termometer-icon span {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
}

.container-title h1 {
    color: darkorange;
    font-weight: bold;
}

.information-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    gap: .5rem;
}

.information-container i {
    font-size: 15px;
    color: white;
}

.information-container span {
    font-size: 13px;
    font-weight: bold;
    color: whitesmoke;
}

.icon-weather-state img {
    width: 140px;
    height: 130px;
    margin-left: .5rem;
}

.icons-information {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
    align-items: flex-start;
    padding: .1rem;
}

.icons-information h3 {
    color: red;
    font-size: 15px;
}

.container-wind-speed {
    display: flex;
    gap: .5rem;
}

.container-cloud {
    display: flex;
    gap: .5rem;
}

.container-humididy {
    display: flex;
    gap: .5rem;
}


.container-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
        
}

.container-btn button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 3rem;
    border: 1px solid white;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.container-btn button:hover {
    background-color: darkorange;
    color: white;
}


@media screen and (min-width: 992px){
    .general-container-app {
        min-width: 450px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-color: rgb(57, 142, 185);
        border-radius: 10px;
        box-shadow: 12px 15px 6px 3px rgba(0, 0, 0, 0.4);
    }
    
    .container-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        
    }

    .container-title h3 {
        font-size: 18px;
    }
        
    .container-date {
        width: 100%;
        position: relative;        
        padding-top: 1rem;
    }
    
    .container-date span {
        font-size: 15px;
        font-weight: bold;
        color: whitesmoke;
    }
    
    .container-date i {
        font-size: 30px;
        color: red;
    }
    
    .container-termometer-icon{
        width: 3%;
        padding: 0;
        display: flex;
        gap: .5rem;
        position: absolute;
        margin-left: -340px;
        margin-top: -180px;
    }
    
    .container-termometer-icon i {
        font-size: 45px;
        color: red;
    }
    
    .container-termometer-icon span {
        font-size: 20px;
        font-weight: bold;
        color: whitesmoke;
    }
    
    .container-title h1 {
        color: darkorange;
        font-weight: bold;
    }
    
    .information-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        
    }
    
    .information-container i {
        font-size: 15px;
        color: white;
    }
    
    .information-container span {
        font-size: 15px;
        font-weight: bold;
        color: whitesmoke;
    }
    
    .icon-weather-state img {
        width: 170px;
        height: 160px;
        margin-top: .5rem;
        margin-left: 1rem;
    }
    
    .icons-information {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        justify-content: center;
        align-items: flex-start;
        padding: .1rem;
    }
    
    .icons-information h3 {
        color: red;
        font-size: 18px;
    }
    
    .container-wind-speed {
        display: flex;
        gap: .5rem;
    }
    
    .container-cloud {
        display: flex;
        gap: .5rem;
    }
    
    .container-humididy {
        display: flex;
        gap: .5rem;
    }
    
    .container-btn{
        width: 100%;
        display: flex;
        justify-content: flex-end;
            
    }
    
    .container-btn button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 3rem;
        border: 1px solid white;
        font-weight: bold;
        color: red;
        cursor: pointer;
        font-size: 18px;
    }
    
    .container-btn button:hover {
        background-color: darkorange;
        color: white;
    }
    
               
    
}